a {
    text-decoration: none !important
}

.navbar-brand > img {
    display: inline-block;
    width: 20px;
    margin-bottom: 2px;
    margin-right: 5px;
    border-radius: 2px;
  }
  
.darkColor {
    color: "#D5D5D5";
}