.project-item {
    margin-top: 70px;
    padding: 10px; 
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

a:hover {
    color: rgb(7, 7, 7,1);
}
/* 
p {
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
} */